@import url(https://fonts.googleapis.com/css?family=Raleway:regular,500,700,900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:500,700,900&display=swap);
@font-face {
  font-family: icons;
  font-display: swap;
  src: url(../fonts/icons.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
.select__value:after,
[class*=_icon-]::before,
[class*=_iconn-]::after {
  font-family: icons;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
._iconn-arrow-down:after {
  content: ""
}
._iconn-arrow-down_02:after {
  content: ""
}
._iconn-phone2:after {
  content: ""
}
._iconn-user:after {
  content: ""
}
._icon-arrow-down_02:before {
  content: ""
}
._icon-account-mail:before {
  content: ""
}
._icon-arrow-down:before {
  content: ""
}
._icon-calendar:before {
  content: ""
}
._icon-city:before {
  content: ""
}
._icon-fb:before {
  content: ""
}
._icon-geolocation:before {
  content: ""
}
._icon-instagram:before {
  content: ""
}
._icon-phone:before {
  content: ""
}
._icon-phone_02:before {
  content: ""
}
._icon-search:before {
  content: ""
}
._icon-shield-check:before {
  content: ""
}
._icon-user:before {
  content: ""
}
._icon-user_02:before {
  content: ""
}
._icon-users:before {
  content: ""
}
:root {
  --primary: #0a9396;
  --secondary: #94d2bd;
  --accent: #0090c1;
  --inverse: #ffff3f;
  --main-green: #40b567;
  --main-green-hover: #30a056;
  --add-green: #21b056;
  --main-bg: #fbfbfb;
  --white-bg: #fff;
  --submenu-bg-hover: rgba( 64, 181, 103, 0.05 );
  --submenu-bg-active: rgba(64, 181, 103, 0.15);
  --green-bg-30: rgba(64, 181, 103, 0.3);
  --green-bg-40: rgba(64, 181, 103, 0.4);
  --linear-green: linear-gradient(180deg, #35c46a 10%, #21b056 100%);
  --linear-white: linear-gradient( 180deg, rgba(255, 255, 255, 0.4) 10%, rgba(255, 255, 255, 0.4) 100% );
  --linear-white-40: linear-gradient( 180deg, rgba(255, 255, 255, 0.4) 10%, rgba(255, 255, 255, 0.4) 100% );
  --linear-white-60: linear-gradient( 180deg, rgba(255, 255, 255, 0.6) 10%, rgba(255, 255, 255, 0.6) 100% );
  --linear-white-70: linear-gradient( 180deg, rgba(255, 255, 255, 0.7) 10%, rgba(255, 255, 255, 0.7) 100% );
  --bg-primary: #242423;
  --bg-secondary: #7678ed;
  --bg-accent: #4cc9f0;
  --bg-inverse: #2d00f7;
  --text-main: #0b2537;
  --submain-text: #0b2537;
  --placeholder-text: rgba( 0, 0, 0, 0.6 );
  --text-primary: #fbfffe;
  --text-secondary: #080708;
  --text-accent: #e8eddf;
  --text-inverse: #e8eddf
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #000;
  line-height: 1;
  font-family: Roboto;
  font-size: 1.0625rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Roboto;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 .625rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .625rem 1fr minmax(auto,88.75rem) 1fr .625rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.button {
  display: inline-flex;
  padding: 0 0
}
.button--fw {
  width: 100%
}
input[type=email],
input[type=tel],
input[type=text],
textarea {
  -webkit-appearance: none;
  appearance: none
}
.input {
  border-radius: 0!important;
  width: 100%;
  display: block;
  padding: 0 20px;
  caret-color: inherit;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.25;
  padding: 1.75rem .625rem
}
.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  -webkit-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  -ms-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  -ms-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0
}
textarea.input {
  resize: none;
  padding: 0 0
}
.select {
  min-width: 0;
  position: relative
}
.select__body {
  position: relative
}
.select__title {
  color: inherit;
  text-align: left;
  background-color: #fff;
  cursor: pointer;
  width: 100%;
  border-radius: 4px
}
.select__value {
  display: flex;
  min-width: 0;
  align-items: center;
  height: 1.5rem;
  padding: 0 .3125rem;
  gap: .625rem
}
.select__value>* {
  flex: 1 1 auto
}
.select__value:after {
  content: "";
  align-self: stretch;
  flex: 0 0 10px;
  transition: all .3s ease 0s;
  display: flex;
  justify-content: center;
  align-items: center
}
._select-open .select__value:after {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg)
}
.select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: .5
}
.select__content {
  font-weight: 500;
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
.select__text {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
.select__input {
  width: 100%;
  background-color: rgba(0,0,0,0);
  height: 100%
}
.select__options {
  color: #000;
  position: absolute;
  top: calc(100% - .0625rem);
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-top: 0;
  padding: 10px 0 5px 0
}
.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 12.5rem
}
.select__option {
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding: 5px 15px;
  color: inherit
}
.select__option._select-selected {
  background-color: #eee
}
.select__row {
  display: inline-flex;
  align-items: center
}
.select--show-top .select__options {
  top: auto;
  bottom: calc(100% - .0625rem);
  border: 1px solid #d9d9d9;
  border-bottom: 0;
  border-radius: 4px 4px 0 0;
  padding: 5px 0 10px 0
}
._select-tag {
  cursor: pointer
}
.icon-menu {
  display: none
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.title {
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 1.1666666667
}
.text {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2
}
.button {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.1875
}
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center
}
.heading__title {
  font-family: Raleway;
  font-size: 3.125rem;
  font-weight: 700;
  padding: 0 .9375rem 1.25rem;
  position: relative;
  line-height: 1.16
}
.heading__title::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 16%;
  width: 68%;
  height: .0625rem;
  background-color: var(--main-green)
}
.heading__title_width {
  align-self: center;
  max-width: 37.75rem
}
.heading__title_width::after {
  left: 20%;
  width: 62%
}
.heading__title_width-line::after {
  left: 15%;
  width: 65%
}
.header__items {
  display: flex;
  flex-direction: column;
  padding: 1.25rem 0 1.875rem
}
.main-header__items {
  display: flex;
  justify-content: space-between
}
.main-header__logo {
  align-self: flex-start
}
.main-header__body {
  position: relative;
  display: flex
}
.main-header__mobile-logo {
  display: none
}
.main-header__mobile-actions {
  display: flex;
  align-items: center;
  -webkit-column-gap: .9375rem;
  -moz-column-gap: .9375rem;
  column-gap: .9375rem
}
.main-header__contacts {
  font-weight: 500;
  line-height: 1.1875
}
.main-header__search {
  display: none;
  font-size: 1.25rem
}
.main-header__mobile-search {
  display: none
}
.main-header__language {
  font-weight: 500;
  line-height: 1.1875
}
.main-header__line {
  position: absolute;
  content: "";
  bottom: 1.25rem;
  left: 0;
  width: 100%;
  height: .0625rem;
  background-color: var(--main-green)
}
.contacts-header__items {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  row-gap: .375rem
}
.contacts-header__item {
  position: relative;
  padding: 0 .3125rem
}
.contacts-header__item::before {
  vertical-align: middle;
  font-size: 1.5rem;
  margin-right: .625rem
}
.contacts-header__item_address,
.contacts-header__item_time {
  font-size: 1rem
}
.subheader__items {
  display: flex;
  justify-content: right
}
.subheader__actions {
  position: relative;
  font-size: 1.875rem;
  line-height: .9;
  display: flex;
  align-items: center;
  justify-content: right
}
.subheader__socials {
  display: flex;
  align-items: center;
  gap: 1.25rem
}
.subheader__social-item {
  transition: color .3s
}
.menu {
  position: relative
}
.menu__body {
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 1.1818181818;
  background-color: #fff
}
.menu__list {
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 1.1818181818;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  -webkit-column-gap: 3.4375rem;
  -moz-column-gap: 3.4375rem;
  column-gap: 3.4375rem;
  row-gap: .9375rem;
  flex-wrap: wrap
}
.menu__item_parrent {
  position: relative
}
.menu__item_language {
  display: none
}
.menu__link {
  transition: color .3s
}
.menu__link_arrow::after {
  position: absolute;
  top: .3125rem;
  right: -.875rem;
  width: .625rem;
  height: .625rem;
  font-size: 1rem;
  color: #40b567
}
.menu__submenu {
  padding-top: .9375rem
}
.sub-menu {
  position: absolute;
  top: 200%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
  z-index: 12;
  background-color: #fff
}
.sub-menu__list {
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.1428571429;
  padding: 1.25rem 0;
  border-radius: .9375rem;
  box-shadow: 0 .625rem 2.5rem rgba(0,0,0,.1);
  min-width: 21.875rem
}
.sub-menu__item {
  position: relative;
  padding: .75rem .9375rem;
  background-color: var(--submenu-bg-hover)
}
.sub-menu__item:after {
  position: absolute;
  right: .3125rem;
  top: 30%;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  font-size: .875rem;
  font-weight: 600
}
.search-subheader__field {
  display: none;
  position: absolute;
  width: 120%;
  height: 100%;
  top: 90%;
  left: -20%;
  border-radius: .9375rem
}
.search-subheader__input {
  padding: .3125rem .625rem;
  width: 100%;
  font-size: .75rem;
  background-color: var(--submenu-bg-hover)
}
.search-subheader__button {
  flex: 0 0 1.875rem;
  height: 1.875rem;
  color: var(--main-green)
}
.search-mobile__search {
  font-size: 1.25rem
}
.search-mobile__field {
  display: none;
  position: absolute;
  width: 120%;
  height: 100%;
  top: 120%;
  left: -20%;
  border-radius: .9375rem;
  z-index: 3
}
.search-mobile__input {
  padding: .3125rem .625rem;
  width: 100%;
  font-size: .75rem;
  background-color: var(--submenu-bg-hover)
}
.search-mobile__button {
  flex: 0 0 1.875rem;
  height: 1.875rem;
  color: var(--main-green)
}
.footer__body {
  display: flex;
  flex-direction: column
}
.footer__copyright {
  font-size: .875rem;
  line-height: 1.1428571429;
  padding: 1.1875rem 0;
  align-self: center
}
.items-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: solid .0625rem var(--main-green)
}
.items-footer__address {
  display: flex;
  flex-direction: column
}
.items-footer__item {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.1875
}
.items-footer__item::before {
  vertical-align: middle;
  font-size: 1.5rem;
  margin-right: .625rem
}
.items-footer__contacts {
  display: flex;
  flex-direction: column
}
.items-footer__socials {
  display: flex;
  align-items: center;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
  font-size: 1.875rem;
  line-height: .9
}
.actions-menu__social-item {
  transition: color .3s
}
.page {
  background-color: var(--main-bg)
}
.main__wrapper {
  padding-top: 12.5rem;
  padding-bottom: 12.5rem;
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 1
}
.main__items {
  display: flex;
  font-family: Raleway;
  color: var(--text-main)
}
.main__body {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1.875rem 0;
  background-color: var(--linear-white-60);
  border-radius: .9375rem;
  box-shadow: 0 .9375rem .9375rem rgba(0,0,0,.1);
  padding-left: 9.375rem;
  padding-right: 9.375rem;
  z-index: 9
}
.main__title {
  padding: 0 .625rem;
  max-width: 40.625rem
}
.main__title:not(:last-child) {
  margin-bottom: 2.5rem
}
.main__subtitle-text {
  padding: 0 .625rem;
  max-width: 40.625rem
}
.main__subtitle-text:not(:last-child) {
  margin-bottom: 2rem
}
.main__actions {
  display: flex;
  align-items: center;
  -webkit-column-gap: 2rem;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
  padding: .625rem 1.25rem;
  background-color: var(--linear-white);
  border-radius: .9375rem;
  box-shadow: 0 .9375rem .9375rem rgba(0,0,0,.2);
  border: solid .0625rem rgba(166,188,237,.3)
}
.main__button_note {
  padding: 1.875rem 2.1875rem;
  background: var(--linear-green);
  transition: all .8s;
  border-radius: .9375rem
}
.main__button_list {
  text-decoration: underline
}
.main__background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 5px;
  z-index: 8
}
.main__background img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover
}
.main__image-mobile {
  display: none
}
.list-services__title {
  font-family: Raleway;
  line-height: 1.175;
  font-weight: 700;
  text-align: center
}
.list-services__items {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(22.1875rem,1fr));
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
  row-gap: 3.125rem
}
.list-services__item {
  position: relative;
  border-radius: 1.875rem;
  overflow: hidden;
  box-shadow: 0 .9375rem .9375rem rgba(0,0,0,.1)
}
.list-services__link {
  display: block;
  position: relative;
  padding-bottom: 66.521739%;
  overflow: hidden
}
.list-services__link img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transition: all .5s
}
.list-services__description {
  font-size: 1.375rem;
  line-height: 1.1818181818;
  font-weight: 700;
  padding: .9375rem 2.1875rem;
  background: var(--linear-white-70);
  position: absolute;
  width: 100%;
  height: 3.5rem;
  bottom: 0;
  left: 0;
  transition: background-color .3s
}
.list-services__text {
  position: relative;
  padding-left: .625rem
}
.list-services__text::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: .125rem;
  height: 100%;
  background-color: var(--main-green)
}
.about__items {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(16.25rem,1fr));
  -webkit-column-gap: .625rem;
  -moz-column-gap: .625rem;
  column-gap: .625rem;
  border: .0625rem solid var(--main-green);
  border-radius: 1.875rem;
  padding: 1.25rem .9375rem;
  row-gap: 1.875rem;
  overflow: hidden
}
.about__link {
  display: block;
  position: relative;
  padding-bottom: 67.647059%;
  border-radius: .9375rem;
  overflow: hidden
}
.about__link img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transition: all .5s
}
.about__link::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: .1875rem;
  background-color: var(--main-green)
}
.about__description {
  padding: 1.75rem 2.25rem;
  border-radius: 0 0 1.875rem 1.875rem;
  box-shadow: 0 .9375rem .9375rem rgba(0,0,0,.1);
  background: var(--linear-white-60)
}
.about__text {
  font-size: 1.25rem;
  line-height: 1.15;
  font-weight: 500
}
.trust__items {
  display: flex;
  row-gap: 1.875rem;
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem
}
.trust__image {
  background-color: var(--main-green);
  border-radius: 1.875rem;
  position: relative;
  padding-bottom: 1;
  overflow: hidden
}
.trust__image img {
  -webkit-transform: translate(-.25rem,.25rem);
  transform: translate(-.25rem,.25rem);
  border-radius: 1.875rem;
  overflow: hidden
}
.trust__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 2.5rem
}
.trust__text {
  flex-grow: 1;
  padding: .875rem 1.25rem;
  box-shadow: 0 .9375rem .9375rem rgba(0,0,0,.1);
  background: var(--linear-white-60);
  border-radius: 1.875rem;
  font-size: 1.0625rem;
  line-height: 1.2352941176;
  font-weight: 500
}
.trust__text_personal {
  position: relative
}
.trust__text_personal :first-child {
  margin-bottom: 1.25rem
}
.trust__text_green :nth-child(2) {
  margin-bottom: 1.25rem
}
.trust__text_green :last-child {
  color: var(--main-green);
  font-size: 1.125rem
}
.trust__decor {
  position: absolute;
  content: "";
  bottom: -1.25rem;
  left: 1.25rem;
  width: 95%;
  height: .0625rem;
  background-color: var(--main-green)
}
.results__items {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(16.25rem,1fr));
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
  row-gap: 3.125rem
}
.results__item {
  position: relative;
  overflow: hidden;
  box-shadow: 0 .9375rem .9375rem rgba(0,0,0,.1);
  background-color: var(--main-green);
  border-radius: 2.3125rem
}
.results__image {
  position: relative;
  padding-bottom: 135.294118%
}
.results__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transition: all .5s
}
.results__description {
  font-size: 1.125rem;
  line-height: 1.1666666667;
  font-weight: 700;
  padding: 0 1.5625rem;
  background: var(--linear-white-70);
  position: absolute;
  width: 100%;
  height: 3.75rem;
  bottom: 0;
  left: 0;
  transition: background-color .3s;
  display: flex;
  align-items: center;
  flex-wrap: wrap
}
.results__text {
  position: relative;
  padding-left: .625rem
}
.results__text::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: .125rem;
  height: 100%;
  background-color: var(--main-green)
}
.consult__body {
  box-shadow: 0 0 2.5rem rgba(0,0,0,.2);
  border-radius: 1.875rem
}
.consult__items {
  display: flex;
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 1.25rem .625rem
}
.consult__image {
  overflow: hidden;
  background-color: var(--main-green);
  border-radius: 1.875rem
}
.consult__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  aspect-ratio: 804/604;
  -webkit-transform: translate(-.25rem,.25rem);
  transform: translate(-.25rem,.25rem);
  border-radius: 1.875rem
}
.block-content__items {
  display: flex;
  flex-direction: column;
  row-gap: 1.875rem;
  text-align: center;
  padding: 1.875rem 5.625rem 1.5rem;
  border-radius: 1.875rem;
  border: .0625rem solid var(--main-green);
  align-items: center
}
.block-content__heading {
  max-width: 22.5rem
}
.block-content__subtitle {
  text-align: center;
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 1.1818181818;
  max-width: 22.5rem
}
.block-content__form-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1.875rem
}
.block-content__label {
  position: relative;
  border-radius: .9375rem;
  border: .0625rem solid var(--main-green)
}
.block-content__label::after {
  position: absolute;
  top: 1.5rem;
  right: .3125rem;
  width: 1.875rem;
  height: 1.875rem;
  font-size: 1.875rem;
  text-align: center
}
.block-content__button {
  align-self: center;
  padding: 1.875rem 6.25rem;
  background: var(--linear-green);
  border-radius: .9375rem;
  width: 100%;
  font-size: 1rem;
  font-weight: 700;
  color: var(--submain-text)
}
.block-content__image-mobile {
  display: none
}
.statistic__heading:not(:last-child) {
  margin-bottom: 3.125rem
}
.statistic__items {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(11.875rem,1fr))
}
.statistic__item {
  display: flex;
  flex-direction: column;
  row-gap: .8125rem;
  align-items: center;
  padding: 1.25rem 1.25rem .625rem;
  background: var(--green-bg-40);
  border-radius: 1.875rem
}
.statistic__item_line {
  position: relative
}
.statistic__item_line:after {
  position: absolute;
  top: 50%;
  right: -8.5rem;
  width: 7.5rem;
  height: .0625rem;
  background: var(--main-green);
  content: ""
}
.statistic__icon {
  padding: 1.25rem 4.0625rem;
  background: var(--linear-white-40);
  border-radius: .9375rem;
  font-size: 4.375rem;
  box-shadow: 0 .625rem .9375rem rgba(0,0,0,.15);
  height: 6.875rem
}
.statistic__quantity {
  font-size: 3.125rem;
  line-height: 1.16;
  font-weight: 900
}
.statistic__quantity span {
  color: var(--add-green);
  text-shadow: 0 .625rem .9375rem rgba(0,0,0,.15)
}
.statistic__text {
  font-size: 1.25rem;
  line-height: 1.4;
  color: var(--text-main);
  font-weight: 700;
  text-align: center
}
.reviews__heading:not(:last-child) {
  margin-bottom: 3.125rem
}
.reviews__items {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(24.375rem,1fr));
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
  row-gap: 3.125rem
}
.reviews__item {
  border-radius: 1.875rem;
  background: var(--main-green);
  box-shadow: 0 .25rem .25rem rgba(0,0,0,.25)
}
.item-reviews__body {
  padding: .625rem .625rem .625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: .625rem;
  border-radius: 1.875rem;
  -webkit-transform: translate(0,-.25rem);
  transform: translate(0,-.25rem);
  background: var(--white-bg);
  height: 18.125rem
}
.item-reviews__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  aspect-ratio: 90/90;
  border-radius: .9375rem;
  overflow: hidden
}
.item-reviews__name {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.1666666667
}
.item-reviews__text {
  padding: 0 0 .625rem;
  line-height: 1.2941176471
}
.contacts__heading:not(:last-child) {
  margin-bottom: 3.125rem
}
@media (min-width:90em) {
  .header__items {
    row-gap: .9375rem
  }
  .header__subheader {
    padding-left: 1.25rem
  }
  .header__subheader {
    padding-right: .0000000625rem
  }
  .main-header__logo {
    margin-right: .9375rem
  }
  .main-header__logo img {
    max-width: 12.625rem
  }
  .main-header__logo img {
    height: 3.75rem
  }
  .main-header__body {
    -webkit-column-gap: 3.375rem;
    -moz-column-gap: 3.375rem;
    column-gap: 3.375rem
  }
  .main-header__body {
    font-size: 1rem
  }
  .contacts-header__items {
    -webkit-column-gap: 4.375rem;
    -moz-column-gap: 4.375rem;
    column-gap: 4.375rem
  }
  .subheader__items {
    -webkit-column-gap: 5.3125rem;
    -moz-column-gap: 5.3125rem;
    column-gap: 5.3125rem
  }
  .subheader__actions {
    -webkit-column-gap: 1.875rem;
    -moz-column-gap: 1.875rem;
    column-gap: 1.875rem
  }
  .menu__body {
    -webkit-column-gap: 5.375rem;
    -moz-column-gap: 5.375rem;
    column-gap: 5.375rem
  }
  .footer__items {
    padding-top: 1.875rem
  }
  .footer__items {
    padding-bottom: 2.9375rem
  }
  .items-footer__address {
    row-gap: 1.25rem
  }
  .items-footer__contacts {
    row-gap: 1.25rem
  }
  .page__services {
    padding-top: 8.75rem
  }
  .page__services:not(:last-child) {
    margin-bottom: 4.375rem
  }
  .page__about {
    padding-top: 4.375rem
  }
  .page__about:not(:last-child) {
    margin-bottom: 4.375rem
  }
  .page__trust {
    padding-top: 4.375rem
  }
  .page__trust:not(:last-child) {
    margin-bottom: 4.375rem
  }
  .page__results {
    padding-top: 4.375rem
  }
  .page__results:not(:last-child) {
    margin-bottom: 4.375rem
  }
  .page__consult-form {
    padding-top: 4.375rem
  }
  .page__consult-form:not(:last-child) {
    margin-bottom: 4.375rem
  }
  .page__statistic {
    padding-top: 4.375rem
  }
  .page__statistic:not(:last-child) {
    margin-bottom: 4.375rem
  }
  .page__reviews {
    padding-top: 4.375rem
  }
  .page__reviews:not(:last-child) {
    margin-bottom: 4.375rem
  }
  .page__contacts {
    padding-top: 4.375rem
  }
  .services__heading:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .services__list {
    font-size: 2.5rem
  }
  .list-services__title:not(:last-child) {
    margin-bottom: 4.375rem
  }
  .about__heading:not(:last-child) {
    margin-bottom: 3.125rem
  }
  .trust__heading:not(:last-child) {
    margin-bottom: 3.125rem
  }
  .trust__image {
    max-width: 37.75rem
  }
  .trust__content {
    max-width: 50rem
  }
  .results__heading:not(:last-child) {
    margin-bottom: 3.125rem
  }
  .statistic__items {
    -webkit-column-gap: 9.625rem;
    -moz-column-gap: 9.625rem;
    column-gap: 9.625rem
  }
}
@media (max-width:90em)and (max-width:20em) {
  .main__wrapper {
    padding-top: 5rem
  }
  .main__wrapper {
    padding-bottom: 5rem
  }
  .block-content__button {
    padding-left: 4.4375rem
  }
  .block-content__button {
    padding-right: 4.4375rem
  }
  .statistic__item_line:after {
    right: -.625rem
  }
  .statistic__item_line:after {
    width: 3.125rem
  }
  .statistic__icon {
    padding-right: 2.75rem
  }
  .statistic__icon {
    padding-left: 2.75rem
  }
}
@media (max-width:90em) {
  .statistic__items {
    row-gap: 1.875rem
  }
}
@media (max-width:64em) {
  .header__items {
    padding: 1.25rem 0 .625rem
  }
  .subheader__actions {
    align-items: flex-start
  }
  .menu__list {
    font-size: 1.125rem
  }
  .menu__link_arrow::after {
    font-size: .875rem;
    top: .1875rem
  }
  .about__text {
    font-size: 1.1875rem
  }
  .trust__items {
    flex-wrap: wrap;
    justify-content: center
  }
}
@media (max-width:20em) {
  .header__items {
    row-gap: .625rem
  }
  .header__subheader {
    padding-left: 4.375rem
  }
  .header__subheader {
    padding-right: 4.375rem
  }
  .main-header__logo {
    margin-right: 1.5625rem
  }
  .main-header__logo img {
    max-width: 6.375rem
  }
  .main-header__logo img {
    height: 1.875rem
  }
  .main-header__body {
    -webkit-column-gap: .625rem;
    -moz-column-gap: .625rem;
    column-gap: .625rem
  }
  .main-header__body {
    font-size: .875rem
  }
  .contacts-header__items {
    -webkit-column-gap: -4.375rem;
    -moz-column-gap: -4.375rem;
    column-gap: -4.375rem
  }
  .subheader__items {
    -webkit-column-gap: 1.875rem;
    -moz-column-gap: 1.875rem;
    column-gap: 1.875rem
  }
  .subheader__actions {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem
  }
  .menu__body {
    -webkit-column-gap: 3.125rem;
    -moz-column-gap: 3.125rem;
    column-gap: 3.125rem
  }
  .footer__items {
    padding-top: .625rem
  }
  .footer__items {
    padding-bottom: 1.0625rem
  }
  .items-footer__address {
    row-gap: .625rem
  }
  .items-footer__contacts {
    row-gap: .625rem
  }
  .page__services {
    padding-top: 4.375rem
  }
  .page__services:not(:last-child) {
    margin-bottom: 2.1875rem
  }
  .page__about {
    padding-top: 2.1875rem
  }
  .page__about:not(:last-child) {
    margin-bottom: 1rem
  }
  .page__trust {
    padding-top: 2.1875rem
  }
  .page__trust:not(:last-child) {
    margin-bottom: 2.1875rem
  }
  .page__results {
    padding-top: 2.1875rem
  }
  .page__results:not(:last-child) {
    margin-bottom: 2.1875rem
  }
  .page__consult-form {
    padding-top: 2.1875rem
  }
  .page__consult-form:not(:last-child) {
    margin-bottom: 2.1875rem
  }
  .page__statistic {
    padding-top: 2.1875rem
  }
  .page__statistic:not(:last-child) {
    margin-bottom: 2.1875rem
  }
  .page__reviews {
    padding-top: 2.1875rem
  }
  .page__reviews:not(:last-child) {
    margin-bottom: 2.1875rem
  }
  .page__contacts {
    padding-top: 2.1875rem
  }
  .services__heading:not(:last-child) {
    margin-bottom: .625rem
  }
  .services__list {
    font-size: 1.375rem
  }
  .list-services__title:not(:last-child) {
    margin-bottom: 2.1875rem
  }
  .about__heading:not(:last-child) {
    margin-bottom: 1.5625rem
  }
  .trust__heading:not(:last-child) {
    margin-bottom: .6875rem
  }
  .trust__image {
    max-width: 22.5rem
  }
  .trust__content {
    max-width: 22.5rem
  }
  .results__heading:not(:last-child) {
    margin-bottom: 1.5625rem
  }
  .statistic__items {
    -webkit-column-gap: -3.125rem;
    -moz-column-gap: -3.125rem;
    column-gap: -3.125rem
  }
}
@media (max-width:77.5rem)and (max-width:20em) {
  .statistic__item_line:after {
    right: -.625rem
  }
  .statistic__item_line:after {
    width: 1.25rem
  }
}
@media (max-width:73.125rem)and (max-width:20em) {
  .statistic__icon {
    padding-right: 2.75rem
  }
  .statistic__icon {
    padding-left: 2.75rem
  }
}
@media (max-width:71.25em) {
  .main-header__body {
    -webkit-column-gap: .625rem;
    -moz-column-gap: .625rem;
    column-gap: .625rem
  }
}
@media (max-width:68.75rem)and (max-width:20em) {
  .block-content__items {
    padding-left: .625rem
  }
  .block-content__items {
    padding-right: .625rem
  }
}
@media (max-width:66.875rem)and (max-width:20em) {
  .statistic__item_line:after {
    right: -.625rem
  }
  .statistic__item_line:after {
    width: 1.25rem
  }
}
@media (max-width:62.0625rem) {
  .consult__items {
    flex-direction: column;
    row-gap: .625rem
  }
}
@media (max-width:61.99875em) {
  .select__title {
    background: var(--submenu-bg-hover)
  }
  .select__value {
    padding: .625rem 0
  }
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 1.25rem;
    overflow: auto;
    padding: 3.125rem .9375rem .9375rem 1.875rem;
    transition: left .3s;
    background-color: #fff
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    transition: left .3s;
    background-color: #fff;
    z-index: 2
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #000
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu.icon-menu {
    position: absolute;
    right: .625rem;
    top: -1.25rem;
    height: 1.5rem;
    width: 1.5rem;
    padding: .25rem;
    background-color: #000;
    border-radius: 50%
  }
  .menu-open .icon-menu::after,
  .menu-open .icon-menu::before {
    background-color: #fff;
    width: 70%;
    right: .25rem
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .main-header__items {
    display: block
  }
  .main-header__body {
    justify-content: space-between
  }
  .main-header__mobile-logo {
    display: block
  }
  .main-header__search {
    display: block
  }
  .main-header__mobile-search {
    display: block
  }
  .main-header__language {
    font-weight: 700;
    display: flex;
    align-self: start
  }
  .main-header__line {
    bottom: -.3125rem
  }
  .contacts-header {
    display: flex;
    align-items: center
  }
  .contacts-header__items {
    margin-right: 0
  }
  .contacts-header__item_address::after,
  .contacts-header__item_time::after {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    width: 70%;
    height: .125rem;
    background-color: var(--green-bg-30)
  }
  .contacts-header__item_time:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .contacts-header__item {
    padding: .625rem .625rem
  }
  .subheader__actions {
    align-self: flex-end;
    padding: 0 .625rem;
    font-size: 1.5rem
  }
  .menu {
    z-index: 100
  }
  .menu__body {
    align-items: start;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2.75rem 0 .625rem
  }
  .menu__list {
    flex-direction: column;
    align-items: start;
    padding: 0;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
    width: 100%
  }
  .menu__list:not(:last-child) {
    margin-bottom: .8125rem
  }
  .menu__item {
    padding: .625rem 1.25rem;
    background: var(--submenu-bg-hover);
    width: 100%
  }
  .menu__item_language {
    display: block
  }
  .menu__link_arrow::after {
    top: .875rem;
    right: 1.5625rem
  }
  .items-footer__logo-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 3rem
  }
  .main__button_note {
    padding: 1.25rem 1.5625rem
  }
  .list-services__items {
    row-gap: 1.875rem
  }
  .list-services__description {
    font-size: 1.25rem;
    line-height: 1.3
  }
  .about__text {
    font-size: 1.25rem
  }
  .trust__text {
    font-size: 1rem
  }
  .block-content__form {
    width: 50%
  }
  .statistic__items {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr
  }
  .statistic__item_line:after {
    display: none
  }
}
@media (max-width:61.99875em)and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:61.99875em)and (max-width:20em) {
  .contacts-header__items {
    margin-right: .9375rem
  }
  .contacts-header__items {
    -webkit-column-gap: .9375rem;
    -moz-column-gap: .9375rem;
    column-gap: .9375rem
  }
  .main__wrapper {
    padding-top: 5rem
  }
  .main__wrapper {
    padding-bottom: 5rem
  }
  .main__body {
    padding-left: 1.875rem
  }
  .main__body {
    padding-right: 1.875rem
  }
  .block-content__button {
    padding-left: 4.4375rem
  }
  .block-content__button {
    padding-right: 4.4375rem
  }
  .statistic__icon {
    padding-right: 2.75rem
  }
}
@media (max-width:56.25em) {
  .menu__list {
    -webkit-column-gap: 1.875rem;
    -moz-column-gap: 1.875rem;
    column-gap: 1.875rem;
    font-size: 1.125rem
  }
}
@media (max-width:47.99875em) {
  .input {
    font-size: 1rem
  }
  .select__content {
    font-weight: 700
  }
  .title {
    font-size: 2.8125rem;
    line-height: .9375
  }
  .text {
    font-size: 2.25rem;
    line-height: .9473684211
  }
  .heading__title {
    font-size: 1.625rem;
    line-height: 1.2307692308;
    padding-bottom: .9375rem
  }
  .header__items {
    padding: 0
  }
  .main-header__logo {
    margin-right: 0
  }
  .main-header__body {
    padding: .625rem 0;
    display: flex;
    align-items: center
  }
  .main-header {
    -webkit-column-gap: .625rem;
    -moz-column-gap: .625rem;
    column-gap: .625rem
  }
  .main-header__line {
    bottom: 0
  }
  .footer__logo img {
    height: 1.875rem
  }
  .footer__copyright {
    font-size: .875rem;
    padding: .9375rem 0 1.25rem 0
  }
  .items-footer__item {
    font-size: .75rem
  }
  .items-footer__item::before {
    font-size: 1rem
  }
  .items-footer__item_phone {
    font-size: 1rem
  }
  .items-footer__socials {
    font-size: 1rem
  }
  .page__services:not(:last-child) {
    margin-bottom: 2.1875rem
  }
  .page__services {
    padding-top: 4.375rem
  }
  .page__about:not(:last-child) {
    margin-bottom: 1rem
  }
  .page__results:not(:last-child) {
    margin-bottom: 2.1875rem
  }
  .page__consult-form {
    padding-top: 2.1875rem
  }
  .page__statistic {
    padding-top: 2.1875rem
  }
  .page__reviews {
    padding-top: 2.1875rem
  }
  .page__contacts {
    padding-top: 2.1875rem
  }
  .main__body {
    padding: 1.25rem .625rem
  }
  .main__title {
    font-size: 1.5rem
  }
  .main__title:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .main__subtitle-text {
    font-size: 1.125rem
  }
  .main__subtitle-text:not(:last-child) {
    margin-bottom: 1.375rem
  }
  .main__actions {
    flex-direction: column;
    row-gap: .9375rem;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0
  }
  .main__button_note {
    font-size: .875rem;
    padding: 1rem 1.1875rem
  }
  .main__button {
    font-size: .75rem
  }
  .main__image-mobile {
    display: block
  }
  .trust__content {
    row-gap: 1.75rem
  }
  .results__items {
    row-gap: 1.875rem
  }
  .consult__items {
    row-gap: .625rem
  }
  .block-content__items {
    padding: .625rem .625rem 1.25rem;
    row-gap: .625rem
  }
  .block-content__form {
    width: 100%
  }
  .block-content__form-items {
    row-gap: 1.25rem
  }
  .block-content__label::after {
    font-size: 1.25rem
  }
  .block-content__button {
    width: 100%;
    padding: 1.0625rem 1.875rem
  }
  .block-content__image-mobile {
    display: block
  }
  .statistic__heading:not(:last-child) {
    margin-bottom: 1.5625rem
  }
  .statistic__items {
    -webkit-column-gap: 1.1875rem;
    -moz-column-gap: 1.1875rem;
    column-gap: 1.1875rem
  }
  .statistic__item {
    padding: .625rem .9375rem .625rem
  }
  .statistic__icon {
    font-size: 3.125rem;
    padding: 1.25rem 2.75rem;
    height: 5.625rem
  }
  .statistic__quantity {
    font-size: 1.875rem;
    line-height: 1.1666666667
  }
  .statistic__text {
    font-size: 1rem;
    line-height: 1.1875
  }
  .reviews__heading:not(:last-child) {
    margin-bottom: 1.5625rem
  }
  .reviews__items {
    grid-template-columns: repeat(auto-fit,minmax(17.5rem,1fr))
  }
  .item-reviews__body {
    height: 16.25rem
  }
  .item-reviews__image img {
    width: 4.375rem;
    height: 4.375rem
  }
  .item-reviews__name {
    font-size: 1rem;
    line-height: 1.1875
  }
  .item-reviews__text {
    font-size: 1rem;
    line-height: 1.1428571429
  }
  .contacts__heading:not(:last-child) {
    margin-bottom: 1.5625rem
  }
}
@media (max-width:47.99875em)and (max-width:20em) {
  .main__wrapper {
    padding-top: 3.75rem
  }
  .main__wrapper {
    padding-bottom: 3.75rem
  }
}
@media (max-width:29.99875em) {
  .contacts-header__item::before {
    font-size: 1.125rem;
    margin-right: .625rem
  }
}
@media (max-width:23.4375em) {
  .contacts-header__item_phone {
    font-size: .75rem
  }
}
@media (min-width:20em)and (max-width:90em) {
  .header__items {
    row-gap: clamp(.625rem ,.5357142857rem + .4464285714vw ,.9375rem)
  }
  .header__subheader {
    padding-left: clamp(1.25rem ,5.2678571429rem + -4.4642857143vw ,4.375rem)
  }
  .header__subheader {
    padding-right: clamp(.0000000625rem ,5.6249999821rem + -6.2499999107vw ,4.375rem)
  }
  .main-header__logo {
    margin-right: clamp(.9375rem ,1.7410714286rem + -.8928571429vw ,1.5625rem)
  }
  .main-header__logo img {
    max-width: clamp(6.375rem ,4.5892857143rem + 8.9285714286vw ,12.625rem)
  }
  .main-header__logo img {
    height: clamp(1.875rem ,1.3392857143rem + 2.6785714286vw ,3.75rem)
  }
  .main-header__body {
    -webkit-column-gap: clamp(.625rem ,-.1607142857rem + 3.9285714286vw ,3.375rem);
    -moz-column-gap: clamp(.625rem ,-.1607142857rem + 3.9285714286vw ,3.375rem);
    column-gap: clamp(.625rem ,-.1607142857rem + 3.9285714286vw ,3.375rem)
  }
  .main-header__body {
    font-size: clamp(.875rem ,.8392857143rem + .1785714286vw ,1rem)
  }
  .contacts-header__items {
    -webkit-column-gap: clamp(-4.375rem ,-6.875rem + 12.5vw ,4.375rem);
    -moz-column-gap: clamp(-4.375rem ,-6.875rem + 12.5vw ,4.375rem);
    column-gap: clamp(-4.375rem ,-6.875rem + 12.5vw ,4.375rem)
  }
  .subheader__items {
    -webkit-column-gap: clamp(1.875rem ,.8928571429rem + 4.9107142857vw ,5.3125rem);
    -moz-column-gap: clamp(1.875rem ,.8928571429rem + 4.9107142857vw ,5.3125rem);
    column-gap: clamp(1.875rem ,.8928571429rem + 4.9107142857vw ,5.3125rem)
  }
  .subheader__actions {
    -webkit-column-gap: clamp(1.25rem ,1.0714285714rem + .8928571429vw ,1.875rem);
    -moz-column-gap: clamp(1.25rem ,1.0714285714rem + .8928571429vw ,1.875rem);
    column-gap: clamp(1.25rem ,1.0714285714rem + .8928571429vw ,1.875rem)
  }
  .menu__body {
    -webkit-column-gap: clamp(3.125rem ,2.4821428571rem + 3.2142857143vw ,5.375rem);
    -moz-column-gap: clamp(3.125rem ,2.4821428571rem + 3.2142857143vw ,5.375rem);
    column-gap: clamp(3.125rem ,2.4821428571rem + 3.2142857143vw ,5.375rem)
  }
  .footer__items {
    padding-top: clamp(.625rem ,.2678571429rem + 1.7857142857vw ,1.875rem)
  }
  .footer__items {
    padding-bottom: clamp(1.0625rem ,.5267857143rem + 2.6785714286vw ,2.9375rem)
  }
  .items-footer__address {
    row-gap: clamp(.625rem ,.4464285714rem + .8928571429vw ,1.25rem)
  }
  .items-footer__contacts {
    row-gap: clamp(.625rem ,.4464285714rem + .8928571429vw ,1.25rem)
  }
  .page__services {
    padding-top: clamp(4.375rem ,3.125rem + 6.25vw ,8.75rem)
  }
  .page__services:not(:last-child) {
    margin-bottom: clamp(2.1875rem ,1.5625rem + 3.125vw ,4.375rem)
  }
  .page__about {
    padding-top: clamp(2.1875rem ,1.5625rem + 3.125vw ,4.375rem)
  }
  .page__about:not(:last-child) {
    margin-bottom: clamp(1rem ,.0357142857rem + 4.8214285714vw ,4.375rem)
  }
  .page__trust {
    padding-top: clamp(2.1875rem ,1.5625rem + 3.125vw ,4.375rem)
  }
  .page__trust:not(:last-child) {
    margin-bottom: clamp(2.1875rem ,1.5625rem + 3.125vw ,4.375rem)
  }
  .page__results {
    padding-top: clamp(2.1875rem ,1.5625rem + 3.125vw ,4.375rem)
  }
  .page__results:not(:last-child) {
    margin-bottom: clamp(2.1875rem ,1.5625rem + 3.125vw ,4.375rem)
  }
  .page__consult-form {
    padding-top: clamp(2.1875rem ,1.5625rem + 3.125vw ,4.375rem)
  }
  .page__consult-form:not(:last-child) {
    margin-bottom: clamp(2.1875rem ,1.5625rem + 3.125vw ,4.375rem)
  }
  .page__statistic {
    padding-top: clamp(2.1875rem ,1.5625rem + 3.125vw ,4.375rem)
  }
  .page__statistic:not(:last-child) {
    margin-bottom: clamp(2.1875rem ,1.5625rem + 3.125vw ,4.375rem)
  }
  .page__reviews {
    padding-top: clamp(2.1875rem ,1.5625rem + 3.125vw ,4.375rem)
  }
  .page__reviews:not(:last-child) {
    margin-bottom: clamp(2.1875rem ,1.5625rem + 3.125vw ,4.375rem)
  }
  .page__contacts {
    padding-top: clamp(2.1875rem ,1.5625rem + 3.125vw ,4.375rem)
  }
  .services__heading:not(:last-child) {
    margin-bottom: clamp(.625rem ,.2678571429rem + 1.7857142857vw ,1.875rem)
  }
  .services__list {
    font-size: clamp(1.375rem ,1.0535714286rem + 1.6071428571vw ,2.5rem)
  }
  .list-services__title:not(:last-child) {
    margin-bottom: clamp(2.1875rem ,1.5625rem + 3.125vw ,4.375rem)
  }
  .about__heading:not(:last-child) {
    margin-bottom: clamp(1.5625rem ,1.1160714286rem + 2.2321428571vw ,3.125rem)
  }
  .trust__heading:not(:last-child) {
    margin-bottom: clamp(.6875rem ,-.0089285714rem + 3.4821428571vw ,3.125rem)
  }
  .trust__image {
    max-width: clamp(22.5rem ,18.1428571429rem + 21.7857142857vw ,37.75rem)
  }
  .trust__content {
    max-width: clamp(22.5rem ,14.6428571429rem + 39.2857142857vw ,50rem)
  }
  .results__heading:not(:last-child) {
    margin-bottom: clamp(1.5625rem ,1.1160714286rem + 2.2321428571vw ,3.125rem)
  }
  .statistic__items {
    -webkit-column-gap: clamp(-3.125rem ,-6.7678571429rem + 18.2142857143vw ,9.625rem);
    -moz-column-gap: clamp(-3.125rem ,-6.7678571429rem + 18.2142857143vw ,9.625rem);
    column-gap: clamp(-3.125rem ,-6.7678571429rem + 18.2142857143vw ,9.625rem)
  }
}
@media (max-width:61.99875em)and (min-width:90em) {
  .contacts-header__items {
    margin-right: 3.375rem
  }
  .contacts-header__items {
    -webkit-column-gap: 1.875rem;
    -moz-column-gap: 1.875rem;
    column-gap: 1.875rem
  }
  .main__wrapper {
    padding-top: 6.25rem
  }
  .main__wrapper {
    padding-bottom: 6.25rem
  }
  .main__body {
    padding-left: 3.125rem
  }
  .main__body {
    padding-right: 3.125rem
  }
  .block-content__button {
    padding-left: 4.6875rem
  }
  .block-content__button {
    padding-right: 4.6875rem
  }
  .statistic__icon {
    padding-right: 4.0625rem
  }
}
@media (max-width:61.99875em)and (min-width:20em)and (max-width:90em) {
  .contacts-header__items {
    margin-right: clamp(.9375rem ,.2410714286rem + 3.4821428571vw ,3.375rem)
  }
  .contacts-header__items {
    -webkit-column-gap: clamp(.9375rem ,.6696428571rem + 1.3392857143vw ,1.875rem);
    -moz-column-gap: clamp(.9375rem ,.6696428571rem + 1.3392857143vw ,1.875rem);
    column-gap: clamp(.9375rem ,.6696428571rem + 1.3392857143vw ,1.875rem)
  }
  .main__wrapper {
    padding-top: clamp(5rem ,4.6428571429rem + 1.7857142857vw ,6.25rem)
  }
  .main__wrapper {
    padding-bottom: clamp(5rem ,4.6428571429rem + 1.7857142857vw ,6.25rem)
  }
  .main__body {
    padding-left: clamp(1.875rem ,1.5178571429rem + 1.7857142857vw ,3.125rem)
  }
  .main__body {
    padding-right: clamp(1.875rem ,1.5178571429rem + 1.7857142857vw ,3.125rem)
  }
  .block-content__button {
    padding-left: clamp(4.4375rem ,4.3660714286rem + .3571428571vw ,4.6875rem)
  }
  .block-content__button {
    padding-right: clamp(4.4375rem ,4.3660714286rem + .3571428571vw ,4.6875rem)
  }
  .statistic__icon {
    padding-right: clamp(2.75rem ,2.375rem + 1.875vw ,4.0625rem)
  }
}
@media (max-width:90em)and (min-width:90em) {
  .main__wrapper {
    padding-top: 9.375rem
  }
  .main__wrapper {
    padding-bottom: 9.375rem
  }
  .block-content__button {
    padding-left: 6.25rem
  }
  .block-content__button {
    padding-right: 6.25rem
  }
  .statistic__item_line:after {
    right: -8.5rem
  }
  .statistic__item_line:after {
    width: 7.5rem
  }
  .statistic__icon {
    padding-right: 4.0625rem
  }
  .statistic__icon {
    padding-left: 4.0625rem
  }
}
@media (max-width:90em)and (min-width:20em)and (max-width:90em) {
  .main__wrapper {
    padding-top: clamp(5rem ,3.75rem + 6.25vw ,9.375rem)
  }
  .main__wrapper {
    padding-bottom: clamp(5rem ,3.75rem + 6.25vw ,9.375rem)
  }
  .block-content__button {
    padding-left: clamp(4.4375rem ,3.9196428571rem + 2.5892857143vw ,6.25rem)
  }
  .block-content__button {
    padding-right: clamp(4.4375rem ,3.9196428571rem + 2.5892857143vw ,6.25rem)
  }
  .statistic__item_line:after {
    right: clamp(-8.5rem ,1.625rem + -11.25vw ,-.625rem)
  }
  .statistic__item_line:after {
    width: clamp(3.125rem ,1.875rem + 6.25vw ,7.5rem)
  }
  .statistic__icon {
    padding-right: clamp(2.75rem ,2.375rem + 1.875vw ,4.0625rem)
  }
  .statistic__icon {
    padding-left: clamp(2.75rem ,2.375rem + 1.875vw ,4.0625rem)
  }
}
@media (max-width:47.99875em)and (min-width:90em) {
  .main__wrapper {
    padding-top: 4.6875rem
  }
  .main__wrapper {
    padding-bottom: 4.6875rem
  }
}
@media (max-width:47.99875em)and (min-width:20em)and (max-width:90em) {
  .main__wrapper {
    padding-top: clamp(3.75rem ,3.4821428571rem + 1.3392857143vw ,4.6875rem)
  }
  .main__wrapper {
    padding-bottom: clamp(3.75rem ,3.4821428571rem + 1.3392857143vw ,4.6875rem)
  }
}
@media (max-width:68.75rem)and (min-width:90em) {
  .block-content__items {
    padding-left: 3.75rem
  }
  .block-content__items {
    padding-right: 3.75rem
  }
}
@media (max-width:68.75rem)and (min-width:20em)and (max-width:90em) {
  .block-content__items {
    padding-left: clamp(.625rem ,-.2678571429rem + 4.4642857143vw ,3.75rem)
  }
  .block-content__items {
    padding-right: clamp(.625rem ,-.2678571429rem + 4.4642857143vw ,3.75rem)
  }
}
@media (max-width:77.5rem)and (min-width:90em) {
  .statistic__item_line:after {
    right: -7.5rem
  }
  .statistic__item_line:after {
    width: 6.5rem
  }
}
@media (max-width:77.5rem)and (min-width:20em)and (max-width:90em) {
  .statistic__item_line:after {
    right: clamp(-7.5rem ,1.3392857143rem + -9.8214285714vw ,-.625rem)
  }
  .statistic__item_line:after {
    width: clamp(1.25rem ,-.25rem + 7.5vw ,6.5rem)
  }
}
@media (max-width:66.875rem)and (min-width:90em) {
  .statistic__item_line:after {
    right: -6.875rem
  }
  .statistic__item_line:after {
    width: 5.625rem
  }
}
@media (max-width:66.875rem)and (min-width:20em)and (max-width:90em) {
  .statistic__item_line:after {
    right: clamp(-6.875rem ,1.1607142857rem + -8.9285714286vw ,-.625rem)
  }
  .statistic__item_line:after {
    width: clamp(1.25rem ,.0000000625rem + 6.25vw ,5.625rem)
  }
}
@media (max-width:73.125rem)and (min-width:90em) {
  .statistic__icon {
    padding-right: 3.4375rem
  }
  .statistic__icon {
    padding-left: 3.4375rem
  }
}
@media (max-width:73.125rem)and (min-width:20em)and (max-width:90em) {
  .statistic__icon {
    padding-right: clamp(2.75rem ,2.5535714286rem + .9821428571vw ,3.4375rem)
  }
  .statistic__icon {
    padding-left: clamp(2.75rem ,2.5535714286rem + .9821428571vw ,3.4375rem)
  }
}
@media (any-hover:hover) {
  .select__option:hover {
    background: var(--green-bg-30)
  }
  .subheader__social-item:hover {
    color: var(--main-green)
  }
  .menu__item:hover .sub-menu {
    top: 100%;
    visibility: visible;
    opacity: 1;
    pointer-events: auto
  }
  .menu__link:hover {
    color: #40b567
  }
  .sub-menu__item:hover {
    background-color: var(--submenu-bg-active)
  }
  .sub-menu__item:not(:last-child) {
    margin-bottom: .625rem
  }
  .actions-menu__social-item:hover {
    color: var(--main-green)
  }
  .main__button_note:hover {
    background: var(--main-green-hover)
  }
  .list-services__link img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
  }
  .about__link img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
  }
  .results__image img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
  }
}